/* catamaran-800 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Catamaran'),
  url('../fonts/catamaran-v7-latin/catamaran-v7-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/catamaran-v7-latin/catamaran-v7-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato'),
  url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/lato-v17-latin/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ee0979;
  font-family: 'Catamaran', sans-serif;
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255,255,255,.75);
}

.custom-shape-divider-bottom-1608118078 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1608118078 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1608118078 .shape-fill {
  fill: #FFFFFF;
}

.home-area {
  width: 100%;
  background: url('../images/model/hijab-bg-1920x1280.jpg') no-repeat scroll center center / cover;
  padding-top: 18vh;
  color: #ffffff;
  padding-bottom: 10vh;
  margin-bottom: 100px;
}

.internal-area {
  width: 100%;
  color: #ffffff;
  height: 30vh;
  margin-bottom: 100px;
}

.overlay {
  position: relative;
  z-index: 1;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ee0979;
  background: linear-gradient(45deg, #b923d3 0%, #ee0979 100%);
  opacity: 0.8;
  z-index: -2;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.home-area .masthead-content .masthead-heading {
  font-size: 3rem;
}

.album {
  padding: 10rem 0;
}

.bg-purple {
  background-color: #200f4f;
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
